<%= form_for @school, html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col s2 control-label' %>
    <div class="col s10">
      <%= f.text_field :name, class: 'form-control', placeholder: 'School Name', required: true %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :level, class: 'col s2 control-label' %>
    <div class="col s10">
      <%= f.text_field :level, class: 'form-control', placeholder: 'Level of School', required: true %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :student_body, class: 'col s2 control-label' %>
    <div class="col s10">
      <%= f.text_field :student_body, class: 'form-control', placeholder: 'Number of Students' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col offset 2 col s10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
